<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
        <button id="start">Başlat</button>
        <button id="stop">Durdur</button>
    </div>
    <div class="player">
        <video id="screen"></video>
        <video id="camera"></video>
    </div>
    <script src="main.js"></script>
</body>
</html>