* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style: none;
}

.menu {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(10, 13, 202);
}

.menu button {
  height: 40px;
  width: 75px;
}

.menu #start {
  background-color: rgb(58, 194, 199);
}

.menu #stop {
  background-color: rgb(235, 81, 81);
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

.player video {
  width: 400px;
  height: 200px;
}

@media (max-width: 800px) {
  .player {
    flex-direction: column;
  }
}
